.ct-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 25px;
  background-color: var(--ct-color-bg-primary);
}

.ct-card-img {
  width: 280px;
  border: 1px solid;
  border-color: #3c9af0;
  border-radius: 10px;
}
.ct-card h1 {
  font-weight: 700;
  font-size: 20px;
  color: var(--ct-color-font-primary);
}
.ct-card-img img {
  justify-content: center;
  width: 260px;
  margin-bottom: 10px;
}

.ct-card-img h3 {
  font-weight: 700;
  font-size: 16px;
  color: var(--ct-color-font-primary);
  text-align: center;
}
