header {
    padding: 0 20px;
    background-color: var(--ct-color-bg-secondary);
    height: 70px;
    /* width: 320px; */
    display: flex;
    align-items: center;
   
}

header h1{
    font-weight: 700;
    font-size: 20px;
    color: var(--ct-color-bg-primary);
    text-align: center;
}